{# This is a page listing the posts of an user. Expects "user", "posts", "num_pages", "cur_page", "sort" and "to_root" argument. #}
{% extends "userbase.html.jinja" %}

{% block scripts %}
    <script src="{{ to_root }}/scripts/jquery.js"></script>
    <script src="{{ to_root }}/scripts/preview.js"></script>
{% endblock %}

{% block title %}
    <TITLE>u/{{ user.name }} - {{ sort }} posts</TITLE>
{% endblock %}

{% block usercontent %}
    <DIV class="userposts">
        {% with to_root=to_root, posts=posts, with_subreddit=true %}
            {% include "postlist.html.jinja" %}
        {% endwith %}
    </DIV>
    {% with to_root=to_root, num_pages=num_pages, cur_page=cur_page, prefix=("posts_" + sort) %}
        {% include "pagebuttons.html.jinja" %}
    {% endwith %}
{% endblock %}
